[path]
say_path=http://localhost/SCRIPT/say/say.php

[data]
#temp_path=/media/usb0
temp_path=/boot/DATA
#humidity_path=/media/usb0
humidity_path=/boot/DATA
#humiditydeficit_path=/media/usb0
humiditydeficit_path=/boot/DATA
#CO2_path=
CO2_path=
