[send]
protocol=http
#protocol=mqtt

[server]
url_base=https://server_addr/path/to/monitor/
#url_base=http://localhost/SCRIPT/monitor/

[mqtt]
host=klingsor.uedasoft.com
topic=gal/gal4/
id_base=ueda-

[log]
log_file=/home/pi/LOG/gen_sender.log

[monitor]
#mode=public
mode=private
